body{
  margin:0;
  height:100vh;
  background:#ffd6e8;
  font-family:'Press Start 2P', cursive;
  display:flex;
  justify-content:center;
  align-items:center;
  overflow:hidden;
}

/* ===== SCENES ===== */

.scene{
  position:absolute;
  inset:0;
  display:flex;
  justify-content:center;
  align-items:center;
  transition:.8s;
}

.hidden{
  opacity:0;
  pointer-events:none;
}

/* ================= ARCADE CABINET ================= */

.arcade{
  width:360px;
  background:#7b2cbf;
  border-radius:16px 16px 10px 10px;
  box-shadow:0 20px 0 #ff4fa3;
  padding-top:18px;
}

.arcade::before{
  content:"LOVE ARCADE";
  display:block;
  background:#ff4fa3;
  color:white;
  padding:12px;
  border:4px solid hotpink;
  margin:0 12px 12px;
  font-size:.75rem;
  text-align:center;
}

/* screen */

.screen{
  background:#fff0f7;
  border:6px solid hotpink;
  margin:0 18px;
  padding:20px;
  text-align:center;
}

h1{
  color:#ff2f9b;
}

p{
  font-size:.7rem;
  margin:10px 0 18px;
}

/* buttons */

button{
  font-family:'Press Start 2P';
  padding:10px 18px;
  border:3px solid hotpink;
  background:white;
  cursor:pointer;
  margin:6px;
}

#yes{
  background:hotpink;
  color:white;
}

#no{
  position:absolute;
}

/* r*
