body{
  background: linear-gradient(135deg,#ffc1dc,#ffd9ec);
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family:'Comic Sans MS', cursive;
  overflow:hidden;
}

.container{
  background:white;
  padding:55px;
  border-radius:35px;
  box-shadow:0 30px 70px rgba(255,105,180,.45);
  text-align:center;
}

h1{
  color:#ff3f8e;
  font-size:3.2rem;
}

h2{
  color:#ff77b5;
}

button{
  padding:15px 45px;
  border:none;
  border-radius:40px;
  font-size:1.3rem;
  margin:15px;
  cursor:pointer;
  transition:.3s;
}

#yes{
  background:#ff3f8e;
  color:white;
}

#yes:hover{
  transform:scale(1.2);
}

#no{
  background:#eee;
}

#surprise{
  display:none;
  margin-top:30px;
}

.dog{
  font-size:100px;
  animation:bounce 1s infinite alternate;
}

@keyframes bounce{
  from{transform:translateY(0)}
  to{transform:translateY(-20px)}
}

.hearts span{
  position:absolute;
  bottom:-30px;
  font-size:25px;
  animation:float 6s linear infinite;
}

@keyframes float{
  from{transform:translateY(0);opacity:1}
  to{transform:translateY(-900px);opacity:0}
}
